@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
:root {
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
  --item-width: 35.56rem;
  --item-height: 18.5rem;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 32px;
}
body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  background-color: white;
  background-image: url("../images/pattern-curve.svg"),
    url("../images/pattern-bg.svg");
  background-repeat: no-repeat;
  background-position: left bottom, right 3rem center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  position: relative;
  overflow: hidden;
  background-image: url("../images/pattern-quotes.svg");
  background-repeat: no-repeat;
  background-position: 10% 22%;
}
.slider-items {
  width: calc(3 * var(--item-width));
  display: flex;
  transition: transform 0.3s ease;
}
.slider,
.item {
  width: var(--item-width);
}
.item {
  min-height: var(--item-height);
  position: relative;
  padding-right: 1rem;
}
.item img {
  position: absolute;
  right: 1rem;
  top: 0;
  z-index: -1;
  width: 48%;
  box-shadow: 0 12px 18px 0 rgb(0 0 0 / 20%);
}

.item-description {
  padding-top: 13%;
  width: 56%;
}

.item-text {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  color: var(--dark-blue);
  margin-bottom: 1rem;
}

.item-name,
.item-job {
  display: inline-block;
}

.item-name {
  font-size: 0.65rem;
  color: var(--dark-blue);
  font-weight: 700;
  margin-right: 0.5rem;
}
.item-job {
  color: var(--grayish-blue);
  font-size: 0.65rem;
  font-weight: 300;
}

.controls {
  background-color: white;
  position: absolute;
  right: 37%;
  bottom: 0.8rem;
  border-radius: 3.2rem;
  box-shadow: 0 12px 18px 0 rgb(0 0 0 / 20%);
}

.btn {
  display: inline-block;
  padding: 0.25rem 0.6rem;
  cursor: pointer;
}

@media (max-width: 375px) {
  body {
    background-size: 90%;
    background-position: left bottom, center 3%;
    padding: 0.7rem;
    padding-top: 2rem;
    align-items: flex-start;
  }
  .slider {
    width: auto;
    background-position: center top 9.5rem;
    background-size: 3rem;
  }

  .item img {
    position: initial;
    width: 78%;
  }
  .item {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item-description {
    width: 90%;
    padding-top: 2.5rem;
  }
  .controls {
    top: 7.3rem;
    left: 50%;
    transform: translateX(-50%);
    right: unset;
    bottom: unset;
  }
  .btn {
    padding: 0.1rem 0.4rem;
  }
  .item-text,
  .item-name,
  .item-job {
    font-size: 0.6rem;
  }
  .item-text {
    line-height: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .item-name,
  .item-job {
    display: block;
    text-align: center;
    font-size: 0.5rem;
  }
}
